<%- include('partials/header') -%>

<form>
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" id="email" placeholder="email..." required />
  <div class="email error"></div>
  <label for="psw">Password</label>
  <input type="password" name="password" placeholder="Password..." required />
  <div class="password error"></div>
  <button>Login</button>
</form>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // Reseting errors
    emailError.textContent = '';
    passwordError.textContent = '';

    // get the values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch('/api/auth/login', {
        method: 'POST',
        body: JSON.stringify({ email, password }),
        headers: {
          'Content-Type': 'application/json',
        },
      });
      const data = await res.json();
      if (data.message) {
        emailError.textContent = data.message;
        passwordError.textContent = data.message;
      }
      if (data.user) {
        location.assign('/');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include('partials/footer') -%>